## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
# Import API key
from weather_config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/tylerengalla/Desktop/Data_Bootcamp/Analysis_Projects/World_Weather_Analysis/Weather_Database/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Enid,US,66.20,overcast clouds,36.40,-97.88,Ramada by Wyndham Enid
1,6,Pringsewu,ID,74.41,overcast clouds,-5.36,104.97,Urban Style by Front One
2,8,Riosucio,CO,69.80,fog,5.42,-75.70,Finca Cafe La Ermita
3,12,Hilo,US,71.60,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
4,13,Mar Del Plata,AR,66.20,broken clouds,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>  
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Harda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Harda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Puri"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Sonamukhi"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Fatehpur"]

In [80]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[['Lat','Lng']].apply(tuple, axis=1)).to_numpy()
end = (vacation_end[['Lat','Lng']].apply(tuple, axis=1)).to_numpy()
stop1 = (vacation_stop1[['Lat','Lng']].apply(tuple, axis=1)).to_numpy()
stop2 = (vacation_stop2[['Lat','Lng']].apply(tuple, axis=1)).to_numpy()
stop3 = (vacation_stop3[['Lat','Lng']].apply(tuple, axis=1)).to_numpy()

In [71]:
spot1 = (22.33,77.1)
spot2 = (19.8, 85.85)
spot3 = (23.3,87.42)
spot4 = (25.93,80.8)
spot5 = (22.33,77.1)

In [72]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
roundtrip = gmaps.directions_layer(
        spot1, spot5, waypoints=[spot2, spot3, spot4],
        travel_mode='DRIVING')
fig.add_layer(roundtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,671,Harda,IN,67.78,clear sky,22.33,77.10,OYO 67581 Samaroh Parisar
1,671,Harda,IN,67.78,clear sky,22.33,77.10,OYO 67581 Samaroh Parisar
2,551,Puri,IN,73.40,haze,19.80,85.85,OYO 1577 Hotel Shree Hari Grand
3,688,Sonamukhi,IN,72.21,clear sky,23.30,87.42,Shubham lodge
4,357,Fatehpur,IN,70.63,clear sky,25.93,80.80,City Club

In [77]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>  
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [79]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))